<nz-row>
  <div nz-col nzSpan="6">
    <h3>
      <i nz-icon type="github" theme="fill"></i>
      Project Present
    </h3>
  </div>
  <div nz-col nzSpan="6">
    <nz-row>
      <h3><img src="../../assets/img/angular.svg.png">  Angular6</h3>
    </nz-row>
    <nz-row><h4>node.js</h4></nz-row>
    <nz-row><h4>Express</h4></nz-row>
    <nz-row><h4>bcryptjs</h4></nz-row>
    <nz-row><h4>nodemon</h4></nz-row>
    <nz-row><h4>RxJS</h4></nz-row>
  </div>
  <div nz-col nzSpan="6">
    <nz-row>
      <h3><i nz-icon type="ant-design" theme="outline"></i>  Ng-Zorro</h3>
      <nz-row><h4>Ali Cloud</h4></nz-row>
      <nz-row><h4>Ali Icons</h4></nz-row>
      <nz-row><h4>Ant Design</h4></nz-row>
    </nz-row>
  </div>
  <div nz-col nzSpan="6">
    <nz-row>
      <h3><img src="../../assets/img/mongodb-logo.png">  MongoDB</h3>
    </nz-row>
    <nz-row><h4>mongoose</h4></nz-row>
    <nz-row><h4>AWS S3</h4></nz-row>
    <nz-row><h4>AWS EC2</h4></nz-row>
    <nz-row><h4>nginx</h4></nz-row>
  </div>

</nz-row>
<nz-row>
  projectpresent.top@gmail.com
</nz-row>
